@import url('./normalize.css');

// === MIXIN ===
@mixin list-null {
    padding: 0;
    margin: 0;
    list-style: none;
}
// === / MIXIN ===

// === FUNCTIONS ===
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}
// === / FUNCTIONS ===

// === VARIABLES ===
$base: rem(4px);
// === / VARIABLES ===

// === COMMON ===
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

// === / COMMON ===

.quote-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    transition: 1s;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-height: 30%;
    padding: $base * 10 $base * 5 $base*3;
    margin: 0 auto;
    background-color: white;
    border-radius: $base*5;

    &-text {
        font-size: $base*7;
        transition: 1s;
    }

    &-author {
        align-self: flex-end;
        margin-top: $base*5;
        font-size: $base*5;
        transition: 1s;
    }

    &-button {
        padding: $base*3;
        margin-top: $base*5;
        margin-bottom: $base*3;
        color: #fff;
        border: 0;
        border-radius: $base*2;
        transition: 1s;
    }
}

.copy {
    margin-bottom: $base*5;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #000;
    }
}
